*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    height: 150px;
    background: purple;
    display: flex;
    flex-direction: row;
    gap: 20%;
}
img{
    width: 200px;
    height: 100px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
    justify-content: end;
    padding-top: 25px;
}
li{
    font-size: 15px;
    color: white;
    background: blueviolet;
    padding: 20px;
    border-radius: 18px;
}